* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: .6rem;
    /* background: none; */
}
html::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--border);
}

:root {
    font-size: 62.5%;
    
    --page-bg: #000;

    --placeholder-color: #7c7c8A;

    --button-primary: #065e7c;
    --button-secondary: #fff;

    --table-bg: #092d38;
    --primary-bg: rgba(6, 22, 27, 0.50);
    --secondary-bg: #06181c;
    --border: #4A808C;

    --scroll-bg: #4a808c;
    
    --not-shown-color: #4E5455;

    --text-color: #e1e1e6;

    --trash-color: #f75a68;
}

body, input, button, td, th {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;

    background-color: var(--page-bg);

    height: 100%;

}

#app {
    width: min(90%, 112rem);
    margin: 9rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9rem;
}

/* header */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .search {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.search input {
    border: 0;
    background-color: var(--secondary-bg);
    font-size: 1.6rem;
    width: 43rem;
    padding: 1.6rem;
    color: var(--placeholder-color);
}

.search input::placeholder {
    color: var(--placeholder-color);
}

.search button {
    border: 0;
    background-color: var(--button-primary);
    color: var(--button-secondary);
    
    padding: 1.2rem 3.2rem;
    display: flex;
    gap: .8rem;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-transform: uppercase;
    
    outline: 0;
    cursor: pointer;

    transition: all .2s ease;
}

.search button i {
    font-size: 2rem;
}

.search button:hover {
    background-color: var(--button-secondary);
    color: var(--button-primary);
    transform: scale(1.02);
}

.search input,
.search button {
    height: 4.8rem;
    border-radius: .5rem;
}

.search input:focus,
.search button:focus {
    outline: 2px solid var(--border);
}

/* table */
table {
    width: 100%;
    /* border-collapse: collapse; */
    border-spacing: 0;
}

thead {
    width: 100%;
    background-color: var(--table-bg);
    text-align: left;

    border-radius: .8rem .8rem 0 0;
    border: 1px solid var(--border);
    border-bottom: 0;
}

tbody tr:nth-child(odd) td {
    background-color: var(--primary-bg);
}
tbody tr:nth-child(even) td {
    background-color: var(--secondary-bg);
}

tbody img {
    height: 5.6rem;
    width: 5.6rem;
    border-radius: 50%;
}

tbody .user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

tbody tr:nth-child(even) {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

tbody tr:nth-child(even):last-child {
    border-top: 1px solid var(--border);
    border-bottom: 0;
}

th, td {
    color: var(--text-color);
    padding: 1.6rem 4rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

thead, tbody {
    display: flex;
    flex-direction: column;
}

tbody {
    border-radius: 0 0 .8rem .8rem;
    border: 1px solid var(--border);
    border-top: 0;
    max-height: 44.5rem;

    overflow-y: auto;
}
tbody::-webkit-scrollbar {
    width: .6rem;
}
tbody::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--border);
}

thead tr, tbody tr {
    display: flex;
    width: 100%;
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 49%;
}

thead tr th,
tbody tr td {
    width: 17%;
    display: flex;
    align-items: center;
}

tbody tr td:last-child button {
    margin-left: 1rem;
}

tbody .remove {
    border: 0;
    background-color: transparent;
    color: var(--trash-color);
    font-size: 2.4rem;
    cursor: pointer;

    transition: .1s;
}
tbody .remove:hover {
    transform: scale(1.1) ;
}

/* message */
.message-container {
    height: 62.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

tr.message-container td.message-content {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background: transparent;
}

td.message-content p {
    color: var(--not-shown-color);
    font-family: "Roboto Mono", sans-serifs;
    font-size: 4rem;
    font-weight: 700;
    line-height: 2.5rem; 
}
td.message-content img {
    width: 13.2rem;
    height: 12.5rem;
    border-radius: 0;
}

.message-container,
td.message-content {
    background-color: var(--primary-bg);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}